@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* L A P T O P (screen size width: 1024px) */

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3a3a3a;
}

/* headings and logo */
h1 {
    font-family: "roboto", sans-serif;
    color: #0463bb;
    letter-spacing: 2px;
}
  
h2 {
    font-family: "roboto", sans-serif;
    color: #ce5108;
    letter-spacing: 2px;
}
  
h3 {
    font-family: "roboto", sans-serif;
    color: #0463bb;
    letter-spacing: 2px;
    padding-bottom: 5px;
}
  
h4 {
    font-family: "roboto", sans-serif;
    color: #800000;
    letter-spacing: 2px;
    padding-bottom: 5px;
    padding-top: 10px;
}
  
#logo {
    font-family: "Shadows Into Light", sans-serif;
    color: #ce5108;
    float: left;
    font-size: 220%;
    margin-left: 30px;
}

/* navigation menu */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
  }
  
#menu,
#logo {
  line-height: 60px;
}
  
#menu li {
  float: right;
  list-style-type: none;
  margin-right: 36px;
}
  
#menu a {
  text-decoration: none;
  color: #3a3a3a;
}
  
#menu a:hover {
  color: #ce5108;
}
  
.active {
  border-bottom: 1px solid #3a3a3a;
}

/* container for all pages */  
#container {
  height: 700px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* homepage */
.image_homepage {
  content: url(../images/supporting_hands_laptop.jpg);
  max-width: 1024px;
  height: 600px;
  position: absolute;
  z-index: -1;
}

.overlay_homepage {
  float: left;
  position: relative;
  margin: 50px;
  padding: 20px;
  max-height: 300px;
  max-width: 850px;
  background-color:rgba(255, 255, 255, 0.7);
  z-index: 2;
  line-height: 60px;
}

.overlay_homepage > h2 {
  color: #0463bb;
  letter-spacing: 4px;
  font-size: 35px;
}

/* footer */
#footer {
  height: 65px;
  width: 100%;
  font-size: x-small;
  margin: 0;
  background-color: lightgrey;
  color: black;
  position: absolute;
  clear: both;
}

.social_networks {
  padding-right: 40px;
}

.social_networks > li {
  display: inline;
}

.social_networks i {
  font-size: 250%;
  padding: 25px;
  padding-top: 15px;
  color: black;
}

i {
  padding-top: 1px;
  float: right;
}

.address {
  padding-left: 30px;
}

/* M E D I A   Q U E R I E S   for tablets and mobiles */

/* T A B L E T S */
@media screen and (max-width: 769px) {

  /* homepage */
  .image_homepage {
    content: url(../images/supporting_hands_tablet.jpg);
    max-width: 768px;
    height: 642px;
  }
}



/* M O B I L E S  (screen-width 426px) */
@media screen and (max-width: 426px) {
  
  /* homepage */
  .image_homepage {
    content: url(../images/supporting_hands_mobile_426.jpg);
    max-width: 426px;
    height: 356px;
  }
}

/* M O B I L E S  (screen-width 376px */
@media screen and (max-width: 376px) {
  
  /* homepage */
  .image_homepage {
    content: url(../images/supporting_hands_mobile_376.jpg);
    max-width: 376px;
    height: 314px;
  }
}

/* M O B I L E S  (screen-width 321px) */
@media screen and (max-width: 321px) {
  
  /* homepage */
  .image_homepage {
    content: url(../images/supporting_hands_mobile_320.jpg);
    max-width: 320px;
    height: 267px;
  }
}


/* L A R G E   L A P T O P  Screens between 1025px and 1441px */
@media (max-width: 1441px) and (min-width: 1025px) {

  /* homepage */
  .image_homepage {
    content: url(../images/supporting_hands_large-laptop.jpg);
    max-width: 1440px;
    height: 674px;
  }
}