@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* L A P T O P (screen size width: 1024px) */

/* logo, headings and body */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3a3a3a;
}

h1 {
    font-family: "roboto", sans-serif;
    color: #0463bb;
    letter-spacing: 2px;
}
  
h2 {
    font-family: "roboto", sans-serif;
    color: #ce5108;
    letter-spacing: 2px;
}
  
h3 {
    font-family: "roboto", sans-serif;
    color: #0463bb;
    letter-spacing: 2px;
    padding-bottom: 5px;
}
  
h4 {
    font-family: "roboto", sans-serif;
    color: #800000;
    letter-spacing: 2px;
    padding-bottom: 5px;
    padding-top: 10px;
}
  
#logo {
    font-family: "Shadows Into Light", sans-serif;
    color: #ce5108;
    float: left;
    font-size: 220%;
    margin-left: 30px;
}

/* navigation menu */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
  }
  
#menu,
#logo {
  line-height: 60px;
}
  
#menu li {
  float: right;
  list-style-type: none;
  margin-right: 36px;
}
  
#menu a {
  text-decoration: none;
  color: #3a3a3a;
}
  
#menu a:hover {
  color: #ce5108;
}
  
.active {
  border-bottom: 1px solid #3a3a3a;
}

/* HOME page */
/* container on top of home page */  
#container_homepage {
  height: 645px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* 'banner' across top of homepage */
.byline_homepage {
  height: 30px;
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffca4b;
  z-index: 3;
}

.byline_homepage > h2 {
  font-family: "poppins", sans-serif;
  font-size: 120%;
  letter-spacing: normal;
  color: black;
  word-wrap: break-word;
}

/* image on home page */
.image_homepage {
  content: url(../images/supporting_hands_laptop.jpg);
  max-width: 100%;
  height: 600px;
  margin-top: 45px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

/* main text overlay on home page */
.overlay_homepage {
  position: relative;
  margin-top: 150px;
  margin-left: 142px;
  margin-right: 142px;
  padding: 15px;
  max-height: 330px;
  max-width: 700px;
  background-color:rgba(255, 255, 255, 0.8);
  z-index: 2;
  line-height: 32px;
}

.overlay_homepage > h3 {
  color: #800000;
  letter-spacing: 3px;
  font-size: 22px;
}

.overlay_homepage > h4 {
  color: #ce5108;
  letter-spacing: 3px;
  font-size: 30px;
}

.center{
  text-align: center;
}

/* WHAT WE DO page */
/* container on top of home page */
#container_whatwedo_page {
  height: 1025px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* image on what we do page */
.image_what-we-do {
  content: url(../images/group_of_people_laptop.jpg);
  max-width: 100%;
  height: 320px;
  margin-top: 32px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

/* 'banner' across top of what we do page */
.byline_what-we-do {
  height: 26px;
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  padding-top: 3px;
  padding-bottom: 5px;
  background-color: #ffca4b;
  z-index: 4;
}

.byline_what-we-do > h2 {
  font-family: "poppins", sans-serif;
  font-size: 120%;
  letter-spacing: normal;
  color: black;
  word-wrap: break-word;
}

/* main body text on what we do page */
.body_text {
  margin-top: 355px;
  padding-left: 20px;
  padding-right: 20px;
}

/* GET SOCIAL page */
/* container on top of home page */
#container_get_social {
  height: 1360px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* main text and video section for get social page */
/* 'banner' across top of get social page */
.byline_get_social {
  height: 26px;
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  padding-top: 3px;
  padding-bottom: 5px;
  background-color: #ffca4b;
  z-index: 4;
}

.byline_get_social > h2 {
  font-family: "poppins", sans-serif;
  font-size: 120%;
  letter-spacing: normal;
  color: black;
  word-wrap: break-word;
}

/* video and text section for get social page */
.video {
  float: left;
  padding-left: 20px;
}

#text_video_container{
  margin-top: 40px;
  height: fit-content;
}

.text_next_to_video {
  width: 60%;
  height: fit-content;
  float: right;
  padding-left: 5px;
  margin-top: 40px;
  margin-right: 45px;
}

/* main body text on get social page */
.body_text_get_social {
  clear: both;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

/* masonry style photo gallery on 'get social' page */
#photo_gallery {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
  margin: 0;
  margin-bottom: 10px;
}

#photo_gallery img {
  width: 100%;
  margin: 2px 2px;
}

/* footer */
#footer {
  height: 65px;
  width: 100%;
  font-size: x-small;
  margin: 0;
  background-color: lightgrey;
  color: black;
  position: absolute;
  clear: both;
}

.social_networks {
  padding-right: 40px;
}

.social_networks > li {
  display: inline;
}

.social_networks i {
  font-size: 250%;
  padding: 25px;
  padding-top: 15px;
  color: black;
}

i {
  padding-top: 1px;
  float: right;
}

.address {
  padding-left: 20px;
}



/* M E D I A   Q U E R I E S   for tablets and mobiles */

/* T A B L E T S */
@media screen and (max-width: 768px) {

  /* navigation menu */
  #menu,
  #logo {
    line-height: 50px;
  }

  #menu {
    font-size: 90%;
    letter-spacing: 2px;
  }

  #menu li {
    float: right;
    margin-right: 1em;
  }

  /* HOME page */
  /* container on top of home page */  
  #container_homepage {
    height: 645px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  /* 'banner' across top of homepage */
  .byline_homepage {
    height: 1.875em;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
  }

  .byline_homepage > h2 {
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-size: 110%;
  }

  /* image on home page */
  .image_homepage {
    content: url(../images/supporting_hands_tablet.jpg);
    max-width: 100%;
    height: 642px;
  }

  /* main text overlay on home page */
  .overlay_homepage {
    margin-top: 10em;
    margin-left: 4.375em;
    margin-right: 4.375em;
  }

  .overlay_homepage > h3 {
    font-size: 20px;
  }
  
  .overlay_homepage > h4 {
    font-size: 25px;
  }

  /* WHAT WE DO page */
  /* container on top of home page */
  #container_whatwedo_page {
    height: 1090px;
  }

  /* image on what we do page */
  .image_what-we-do {
    content: url(../images/group_of_people_laptop.jpg);
    max-width: 100%;
    height: 240px;
  }

  /* main body text on what we do page */
  .body_text {
    margin-top: 280px;
  }
}



/* M O B I L E S  (screen-width 426px) */
@media screen and (max-width: 426px) {

  /* headings and logo */
  #logo {
    font-size: 130%;
    margin-left: 1em;
  }

  h1 {
    letter-spacing: normal;
  }

  /* navigation menu */
  #menu,
  #logo {
    line-height: 30px;
  }

  #menu {
    float: left;
    font-size: 100%;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 0;
  }

  #menu ul {
    float: right;
  }

  #menu li {
    float: right;
    padding: 0.8125em;
    margin-right: 0;
    margin-left: 0;
  }

  /* HOME page */
  /* container on top of home page */  
  #container_homepage {
    height: 385px;
  }

  /* 'banner' across top of homepage */
  .byline_homepage {
    height: 1.5625em;
    padding-top: 0.3125em;
    padding-bottom: 0.3125em;
  }

  .byline_homepage > h2 {
    font-size: 90%;
    letter-spacing: normal;
  }

  /* image on home page */
  .image_homepage {
    content: url(../images/supporting_hands_mobile_426.jpg);
    max-width: 100%;
    height: 356px;
    margin-top: 1.875em;
  }

  /* main text overlay on home page */
  .overlay_homepage {
    margin-top: 5.625em;
    margin-left: 1.25em;
    margin-right: 1.25em;
    padding: 0.625em;
    max-height: 330px;
    max-width: 366px;
    line-height: 24px;
  }
  
  .overlay_homepage > h3 {
    letter-spacing: normal;
    font-size: 17px;
  }
  
  .overlay_homepage > h4 {
    letter-spacing: normal;
    font-size: 18px;
  }

  /* WHAT WE DO page */
  /* container on top of home page */
  #container_whatwedo_page {
    height: 1365px;
  }

  /* image on what we do page */
  .image_what-we-do {
    content: url(../images/group_of_people_mobile_426.jpg);
    max-width: 100%;
    height: 133px;
  }

  /* main body text on what we do page */
  .body_text {
    margin-top: 175px;
  }

  /* footer */
  #footer {
    height: 65px;
  }

  .social_networks {
    padding-right: 0.625em;
  }

  .social_networks i {
    font-size: 200%;
    padding: 0.9375em;
    padding-top: 1.25em;
  }

  .address {
    padding-left: 1.25em;
  }
}



/* M O B I L E S  (screen-width 376px */
@media screen and (max-width: 376px) {
  
  /* headings and logo */
  #logo {
    font-size: 130%;
    margin-left: 1em;
  }

  h1 {
    letter-spacing: normal;
  }

  /* navigation menu */
  #menu,
  #logo {
    line-height: 30px;
  }

  #menu {
    float: left;
    font-size: 85%;
    letter-spacing: normal;
  }

  #menu ul {
    float: right;
  }

  #menu li {
    float: right;
    padding: 0.625em;
    margin-right: 0;
    margin-left: 0.3125em;
  }
  /* HOME page */
  /* container on top of home page */
  #container_homepage {
    height: 340px;
  }

  /* 'banner' across top of homepage */
  .byline_homepage {
    height: 20px;
    padding-top: 0.3125em;
    padding-bottom: 0.3125em;
  }

  .byline_homepage > h2 {
    font-size: 84%;
    letter-spacing: normal;
  }
  
  /* image on home page */
  .image_homepage {
    content: url(../images/supporting_hands_mobile_376.jpg);
    max-width: 100%;
    height: 314px;
  }

  /* main text overlay on home page */
  .overlay_homepage {
    margin-top: 5em;
    margin-left: 1.25em;
    margin-right: 1.25em;
    padding: 0.3125em;
    max-height: 330px;
    max-width: 326px;
    line-height: 24px;
  }
  
  .overlay_homepage > h3 {
    letter-spacing: normal;
    font-size: 16px;
  }
  
  .overlay_homepage > h4 {
    letter-spacing: normal;
    font-size: 17px;
  }

  /* WHAT WE DO page */
  /* container on top of home page */
    #container_whatwedo_page {
      height: 1525px;
  }

  /* image on what we do page */
  .image_what-we-do {
    content: url(../images/group_of_people_mobile_376.jpg);
    max-width: 100%;
    height: 117px;
  }

  /* main body text on what we do page */
  .body_text {
    margin-top: 160px;
  }

  /* footer */
  #footer {
    height: 65px;
  }

  .social_networks {
    padding-right: 0.625em;
  }

  .social_networks i {
    font-size: 190%;
    padding: 0.75em;
    padding-top: 1.25em;
  }

  .address {
    padding-left: 1.25em;
  }

}

/* M O B I L E S  (screen-width 320px) */
@media screen and (max-width: 320px) {
  
  /* headings and logo */
  #logo {
    font-size: 130%;
    margin-left: 1em;
  }

  h1 {
    letter-spacing: normal;
  }

  /* navigation menu */
  #menu,
  #logo {
    line-height: 30px;
  }

  #menu {
    float: left;
    font-size: 80%;
    letter-spacing: normal;
  }

  #menu ul {
    float: right;
  }

  #menu li {
    float: right;
    padding: 0.5625em;
    margin-right: 0;
    margin-left: 0;
  }

  /* HOME page */
  /* container on top of home page */
  #container_homepage {
    height: 315px;
  }

  /* 'banner' across top of homepage */
  .byline_homepage {
    height: 40px;
    padding-top: 0.3125em;
    padding-bottom: 0.3125em;
  }

  .byline_homepage > h2 {
    font-size: 87%;
    letter-spacing: normal;
  }

  /* image on home page */
  .image_homepage {
    content: url(../images/supporting_hands_mobile_320.jpg);
    max-width: 100%;
    height: 267px;
    margin-top: 3.125em;
  }

  /* main text overlay on home page */
  .overlay_homepage {
    margin-top: 4.375em;
    margin-left: 0.625em;
    margin-right: 0.625em;
    padding: 0.3125em;
    max-height: 330px;
    max-width: 300px;
    line-height: 24px;
  }
  
  .overlay_homepage > h3 {
    letter-spacing: normal;
    font-size: 15px;
  }
  
  .overlay_homepage > h4 {
    letter-spacing: normal;
    font-size: 15px;
  }

  /* WHAT WE DO page */
  /* container on top of home page */
  #container_whatwedo_page {
    height: 1715px;
  }

  /* image on what we do page */
  .image_what-we-do {
    content: url(../images/group_of_people_mobile_320.jpg);
    max-width: 100%;
    height: 100px;
  }

  /* main body text on what we do page */
  .body_text {
    margin-top: 140px;
  }

  /* footer */
  #footer {
    height: 65px;
  }

  .social_networks {
    padding-right: 0.3125em;
  }

  .social_networks i {
    font-size: 190%;
    padding: 0.5625em;
    padding-top: 1.25em;
  }

  .address {
    padding-left: 0.625em;
  }

}



/* L A R G E   L A P T O P  Screens between 1025px and 1441px */
@media (max-width: 1441px) and (min-width: 1025px) {

  /* HOME page */
  /* container on top of home page */  
  #container_homepage {
    height: 660px;
    }

  /* 'banner' across top of home page */
  .byline_homepage > h2 {
    font-size: 125%;
  }

  /* image on home page */
  .image_homepage {
    content: url(../images/supporting_hands_large-laptop.jpg);
    max-width: 100%;
    height: 674px;
  }

  /* main text overlay on home page */
  .overlay_homepage {
    position: relative;
    margin-left: 14.375em;
    margin-right: 14.375em;
    max-width: 860px;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .overlay_homepage > h3 {
    font-size: 30px;
    line-height: 40px;
  }

  /* container on top of home page */  
  #container_homepage {
    height: 660px;
    }

  /* WHAT WE DO page */
  /* image on what we do page */
  .image_what-we-do {
    content: url(../images/group_of_people_large_laptop.jpg);
    max-width: 100%;
    height: 347px;
  }
}